pkgbase = wizado
	pkgdesc = Steam gaming mode for Hyprland (Omarchy)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/wattfource/wizado-omarchy
	install = wizado.install
	arch = any
	license = MIT
	depends = bash
	depends = curl
	depends = gum
	depends = jq
	optdepends = steam: Steam client
	optdepends = gamescope: Gaming compositor
	optdepends = gamemode: System optimizations
	optdepends = mangohud: Performance overlay
	optdepends = hyprland: Hyprland compositor
	source = wizado-0.2.0.tar.gz::https://github.com/wattfource/wizado-omarchy/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 6ef8817a550a983f8c8c2b0e46d99d982fc8195589e59a6959625e1da50bb1d2

pkgname = wizado
